In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df =pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [8]:
le = LabelEncoder()
arr=le.fit_transform(df['color'])

In [19]:
arr

array([2, 0, 1, 1, 2, 0])

In [16]:
pd.DataFrame(arr,columns=le.classes_)

ValueError: Shape of passed values is (6, 1), indices imply (6, 3)

In [18]:
le.classes_

array(['blue', 'green', 'red'], dtype=object)

In [20]:
## ordinal Encoding
import pandas as pd

from sklearn.preprocessing import OrdinalEncoder

df=pd.DataFrame({'size':['small','medium','large','medium','small','large']})

In [21]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [26]:
ordinal_encoder=OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [27]:
ordinal_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

     size
0   small
1  medium
2   large
3  medium
4   small
5   large