In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df =pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
encoding=OneHotEncoder()
encpoded = encoding.fit_transform(df[['color']])

In [6]:
encoded_df=pd.DataFrame(encpoded.toarray(),columns=encoding.get_feature_names_out())

In [7]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [9]:
encoding.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [10]:
encpoded.toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])