In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
import sys
!{sys.executable} -m pip install pandas-profiling

Collecting pandas-profiling
  Downloading pandas_profiling-3.6.6-py2.py3-none-any.whl (324 kB)
Collecting ydata-profiling
  Downloading ydata_profiling-4.1.1-py2.py3-none-any.whl (344 kB)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.62.3)
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp39-cp39-win_amd64.whl (663 kB)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.26.0)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (3.4.3)
Collecting statsmodels<0.14,>=0.13.2
  Downloading statsmodels-0.13.5-cp39-cp39-win_amd64.whl (9.2 MB)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.11.2)
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.7.1)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.3.4)
Collecting imagehash==4.3.1
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Collecting pydantic<1.11,>=1.8.1
  Downloading pydantic-1.10.7-cp39-cp39-win_amd64.whl (2.2 MB)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (6.0)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\dandu\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.20.3)
Requirement already satisfied: pillow in c:\users\dandu\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (8.4.0)
Requirement already satisfied: PyWavelets in c:\users\dandu\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: networkx>=2.4 in c:\users\dandu\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (2.6.3)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
Requirement already satisfied: attrs>=19.3.0 in c:\users\dandu\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (21.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dandu\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dandu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dandu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dandu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\dandu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (0.10.0)
Requirement already satisfied: six in c:\users\dandu\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\dandu\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\dandu\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.2.0)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dandu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dandu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dandu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dandu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2.0.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\dandu\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.2)
Collecting packaging>=21.3
  Downloading packaging-23.0-py3-none-any.whl (42 kB)
Requirement already satisfied: colorama in c:\users\dandu\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->ydata-profiling->pandas-profiling) (0.4.4)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=87d165303f385d5804202d048bd8b80ed1799d4702a8076e15d4c956790801b2
  Stored in directory: c:\users\dandu\appdata\local\pip\cache\wheels\1d\05\04\c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
Successfully built htmlmin
Installing collected packages: tangled-up-in-unicode, multimethod, visions, typing-extensions, packaging, imagehash, typeguard, statsmodels, pydantic, phik, htmlmin, ydata-profiling, pandas-profiling
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.10.0.2
    Uninstalling typing-extensions-3.10.0.2:
      Successfully uninstalled typing-extensions-3.10.0.2
  Attempting uninstall: packaging
    Found existing installation: packaging 21.0
    Uninstalling packaging-21.0:
      Successfully uninstalled packaging-21.0
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 packaging-23.0 pandas-profiling-3.6.6 phik-0.12.3 pydantic-1.10.7 statsmodels-0.13.5 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 typing-extensions-4.5.0 visions-0.7.5 ydata-profiling-4.1.1

In [10]:
!pip uninstall markupsafe
!pip install markupsafe==2.0.1

In [7]:
import pandas_profiling as pp
profile= pp.ProfileReport(df)
profile.to_file('pandas_profile_test.html')

Summarize dataset: 100%|██████████| 47/47 [00:04<00:00, 11.43it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.54s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.32s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 180.12it/s]